__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.cache/
.kaggle/
*.zip
*.tar
*.tar.gz
*.cpg
*.shp.ea.iso.xml
*.shp.xml
*.sbn
*.sbx
*.fbn
*.fbx
*.ain
*.aih
*.ixs
*.mxs
*.atx
*.shp.iso.xml
*.qix
.DS_Store
Thumbs.db
~$*
# *.csv 